ul{
    all: unset;
    margin: 2px;
}
li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 225px;
    border:1px solid black;
    padding:5px;
}
li::before{
    content: '>';
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    color: red;
}

li .deleteButton{
    float: right;
}

li .tasklist{
    /* display: flex; */
    word-wrap: break-word;
    width:70%;
}

.completedTask{
    background-color: green;
}