ul{
    all: unset;
    margin: 2px;
}
li{
    list-style: none;
    width: 200px;
    border:1px solid black;
    padding:5px;
}
li::before{
    content: '@';
    margin-right: 5px;
    color: red;
}

li .deleteButton{
    float: right;
}